#titre-login {
    margin-bottom: 5px;
}

#explicatif {
    margin-top: 5px;
    font-size: 22px;
}

#copyright {
    text-align: center;
}

.conteneur-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    padding: 46px;
}

.formulaire {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid #F28D35 3px;
    border-radius: 7px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type="email"], input[type="password"] {
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

.button-connexion {
    background-color: #4169E1;
    border: 1px solid #ccc;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    color: #ffffff;
}

.button-connexion:hover {
    background-color: #F28D35; /* Couleur de survol */
    box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

.button-connexion:active {
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3); /* Ombre intérieure pour clique */
    transform: scale(0.95); /*effet de réduction pour simuler un clic */
    transition: transform 0.1s ease-out, background-color 0.2s ease-out;
    border-radius: 15px;
}

#logo {
    width: 100px;
    height: auto;
}

#mdp-oublie {
    margin-top: 5px;
    color: #000000;
    text-align: right;
    align-self: flex-end;
}

.formulaire label {
    display: block;
    font-weight: 500;
    padding-top: 10px;
    color: #333;
    font-size: 18px;
}

