*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lexend', sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #fef9e7, #ffffff); /* Dégradé doux */
}

/* Style pour le contenu texte */
.text-content {
  flex: 1; /* Prend une partie de l'espace */
  max-width: 28%; /* Limite la largeur du contenu texte à 50% */
}


/*!* Page principale *!*/
/*.module-calcul {*/
/*  padding: 20px;*/
/*  margin-top: 50px;*/
/*  margin-bottom: 50px;*/
/*  text-align: center;*/

/*}*/

/*.module-calcul h1 {*/
/*  color: #f28d35;*/
/*  margin-bottom: 20px;*/
/*  margin-right: 880px; !*Si on veut le mettre sur le cote sinon sans ca il sera au centre *!*/
/*}*/

/*.module-calcul p {*/
/*  text-align: center;*/
/*  margin-right: 840px;*/
/*}*/

/*.footer-content {*/
/*  text-align: center;*/
/*  font-size: 14px;*/
/*  color: #777;*/
/*  padding: 10px 0;*/
/*}*/

/*.intro {*/
/*  font-size: 18px;*/
/*  color: #555;*/
/*  margin-bottom: 20px;*/
/*}*/

/*!* Formulaire *!*/
/*#calculationForm {*/
/*  max-width: 500px;*/
/*  margin-left: 60px;*/
/*  padding: 20px;*/
/*  background: #fafafa;*/
/*  border-radius: 8px; !* Bord arrondi *!*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); !* Ombre pour le bloc du formulaire *!*/
/*  flex: 1; !* Le formulaire prend tout l'espace disponible *!*/
/*}*/

/*.form-group {*/
/*  margin-bottom: 20px;*/
/*}*/

/*!* Conteneur global pour le formulaire et l'image *!*/
/*.calculation-container {*/
/*  display: flex;*/
/*  justify-content: space-between; !* Espace entre les éléments *!*/
/*  align-items: center; !* Aligne verticalement au centre *!*/
/*  margin-top: 20px;*/
/*  padding: 20px;*/
/*}*/

/*!* Styles pour l'image *!*/
/*.module-image {*/
/*  width: 700px; !* Taille de l'image *!*/
/*  max-width: 100%; !* S'adapte à la taille de l'écran si nécessaire *!*/
/*  height: auto; !* Maintient les proportions *!*/
/*  margin-right: 70px;*/
/*  border-radius: 15px;*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);*/
/*}*/

/*label {*/
/*  font-size: 18px;*/
/*  display: block;*/
/*  margin-bottom: 5px;*/
/*  color: #333;*/
/*}*/

/*input {*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 4px;*/
/*}*/

/*imput, select {*/
/*  border: 2px solid #e0e0e0;*/
/*  border-color: #f28d35;*/
/*  padding: 10px;*/
/*  font-size: 15px;*/
/*  margin-top: 5px;*/
/*}*/

/*input:focus, select:focus {*/
/*  border-color: #f28d35;*/
/*  box-shadow: 0 0 6px rgba(242, 141, 53, 0.5);*/
/*}*/

/*!* Bouton de validation *!*/
/*.btn-submit {*/
/*  background: #f28d35;*/
/*  color: #fff;*/
/*  padding: 10px 20px;*/
/*  font-size: 16px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  border-radius: 25px;*/
/*}*/

/*.btn-submit:hover {*/
/*  background-color: #ef9b4e; !* Couleur de survol *!*/
/*  background: #e67300;*/
/*  color: #ffffff; !* Change la couleur au survol *!*/
/*  box-shadow: 7px 4px 10px rgba(0, 0, 0, 0.2);*/
/*  transition: background-color 0.3s ease-out, color 0.3s ease-out;*/
/*}*/

/*.btn-submit:active {*/
/*  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3); !* Ombre intérieure pour clique *!*/
/*  transform: scale(0.95); !*effet de réduction pour simuler un clic *!*/
/*  transition: transform 0.1s ease-out, background-color 0.2s ease-out;*/
/*  border-radius: 25px;*/
/*}*/


/*!* Style pour la liste déroulante des choix de module de calculs *!*/
/*.form-group {*/
/*  margin-bottom: 20px;*/
/*}*/

/*label {*/
/*  display: block;*/
/*  font-weight: 500;*/
/*  margin-bottom: 5px;*/
/*  color: #333;*/
/*}*/

/*select {*/
/*  width: 100%;*/
/*  padding: 10px 15px;*/
/*  font-size: 16px;*/
/*  border: 2px solid #cfcfcf; !* Couleur de la bordure *!*/
/*  border-radius: 5px; !* Coins arrondis *!*/
/*  background-color: #fff; !* Fond blanc *!*/
/*  color: #000000; !* Couleur du texte *!*/
/*  outline: none;*/
/*  cursor: pointer;*/
/*  transition: border-color 0.3s, box-shadow 0.3s;*/
/*}*/

/*select:focus {*/
/*  border-color: #ffffff; !* Couleur de bordure au focus *!*/
/*  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8); !* Effet lumineux *!*/
/*}*/

/*option {*/
/*  font-size: 16px;*/
/*  padding: 10px;*/
/*  background-color: #ffffff; !* Fond blanc pour les options *!*/
/*  color: #333; !* Couleur du texte *!*/
/*}*/

/*!* Ajuste l'affichage sur les appareils mobiles *!*/
/*@media (max-width: 768px) {*/
/*  select {*/
/*    font-size: 14px;*/
/*    padding: 8px 12px;*/
/*  }*/
/*}*/